# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.AppleDouble
.LSOverride
Icon?
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Xcode (macOS) specific
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
android/app/.cxx/Debug/4t583t4o/hash_key.txt
android/app/.cxx/Debug/4t583t4o/arm64-v8a/additional_project_files.txt
android/app/.cxx/Debug/4t583t4o/arm64-v8a/android_gradle_build_mini.json
android/app/.cxx/Debug/4t583t4o/arm64-v8a/android_gradle_build.json
android/app/.cxx/Debug/4t583t4o/arm64-v8a/build_file_index.txt
android/app/.cxx/Debug/4t583t4o/arm64-v8a/build.ninja
android/app/.cxx/Debug/4t583t4o/arm64-v8a/cmake_install.cmake
android/app/.cxx/Debug/4t583t4o/arm64-v8a/CMakeCache.txt
android/app/.cxx/Debug/4t583t4o/arm64-v8a/configure_fingerprint.bin
android/app/.cxx/Debug/4t583t4o/arm64-v8a/metadata_generation_command.txt
android/app/.cxx/Debug/4t583t4o/arm64-v8a/prefab_config.json
android/app/.cxx/Debug/4t583t4o/arm64-v8a/symbol_folder_index.txt
android/app/.cxx/Debug/4t583t4o/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/4t583t4o/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/4t583t4o/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/4t583t4o/arm64-v8a/.cmake/api/v1/reply/cache-v2-fb589f46003b9f39c688.json
android/app/.cxx/Debug/4t583t4o/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-d9bc9fc2bcadf66cbea5.json
android/app/.cxx/Debug/4t583t4o/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-1c9c0bcd505fd59dfcd8.json
android/app/.cxx/Debug/4t583t4o/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
android/app/.cxx/Debug/4t583t4o/arm64-v8a/.cmake/api/v1/reply/index-2025-02-23T08-26-37-0389.json
android/app/.cxx/Debug/4t583t4o/arm64-v8a/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/4t583t4o/arm64-v8a/CMakeFiles/rules.ninja
android/app/.cxx/Debug/4t583t4o/arm64-v8a/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/4t583t4o/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
android/app/.cxx/Debug/4t583t4o/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/4t583t4o/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/4t583t4o/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/4t583t4o/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
android/app/.cxx/Debug/4t583t4o/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/4t583t4o/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/4t583t4o/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/4t583t4o/arm64-v8a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/additional_project_files.txt
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/android_gradle_build_mini.json
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/android_gradle_build.json
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/build_file_index.txt
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/build.ninja
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/cmake_install.cmake
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/CMakeCache.txt
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/configure_fingerprint.bin
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/metadata_generation_command.txt
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/prefab_config.json
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/symbol_folder_index.txt
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/.cmake/api/v1/reply/cache-v2-10e1239ebbd8d312ef10.json
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-ff144158d3f83de80bb0.json
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-47f4552a71d8a1593584.json
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/.cmake/api/v1/reply/index-2025-02-23T08-26-38-0261.json
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/CMakeFiles/rules.ninja
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/4t583t4o/armeabi-v7a/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/4t583t4o/x86/additional_project_files.txt
android/app/.cxx/Debug/4t583t4o/x86/android_gradle_build_mini.json
android/app/.cxx/Debug/4t583t4o/x86/android_gradle_build.json
android/app/.cxx/Debug/4t583t4o/x86/build_file_index.txt
android/app/.cxx/Debug/4t583t4o/x86/build.ninja
android/app/.cxx/Debug/4t583t4o/x86/cmake_install.cmake
android/app/.cxx/Debug/4t583t4o/x86/CMakeCache.txt
android/app/.cxx/Debug/4t583t4o/x86/configure_fingerprint.bin
android/app/.cxx/Debug/4t583t4o/x86/metadata_generation_command.txt
android/app/.cxx/Debug/4t583t4o/x86/prefab_config.json
android/app/.cxx/Debug/4t583t4o/x86/symbol_folder_index.txt
android/app/.cxx/Debug/4t583t4o/x86/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/4t583t4o/x86/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/4t583t4o/x86/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/4t583t4o/x86/.cmake/api/v1/reply/cache-v2-09a63e0c49873b8f14bf.json
android/app/.cxx/Debug/4t583t4o/x86/.cmake/api/v1/reply/cmakeFiles-v1-ea30fd39155e3302d582.json
android/app/.cxx/Debug/4t583t4o/x86/.cmake/api/v1/reply/codemodel-v2-96efc56143568961f8fd.json
android/app/.cxx/Debug/4t583t4o/x86/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
android/app/.cxx/Debug/4t583t4o/x86/.cmake/api/v1/reply/index-2025-02-23T08-26-39-0055.json
android/app/.cxx/Debug/4t583t4o/x86/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/4t583t4o/x86/CMakeFiles/rules.ninja
android/app/.cxx/Debug/4t583t4o/x86/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/4t583t4o/x86/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
android/app/.cxx/Debug/4t583t4o/x86/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/4t583t4o/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/4t583t4o/x86/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/4t583t4o/x86/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
android/app/.cxx/Debug/4t583t4o/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/4t583t4o/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/4t583t4o/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/4t583t4o/x86/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/4t583t4o/x86_64/additional_project_files.txt
android/app/.cxx/Debug/4t583t4o/x86_64/android_gradle_build_mini.json
android/app/.cxx/Debug/4t583t4o/x86_64/android_gradle_build.json
android/app/.cxx/Debug/4t583t4o/x86_64/build_file_index.txt
android/app/.cxx/Debug/4t583t4o/x86_64/build.ninja
android/app/.cxx/Debug/4t583t4o/x86_64/cmake_install.cmake
android/app/.cxx/Debug/4t583t4o/x86_64/CMakeCache.txt
android/app/.cxx/Debug/4t583t4o/x86_64/configure_fingerprint.bin
android/app/.cxx/Debug/4t583t4o/x86_64/metadata_generation_command.txt
android/app/.cxx/Debug/4t583t4o/x86_64/prefab_config.json
android/app/.cxx/Debug/4t583t4o/x86_64/symbol_folder_index.txt
android/app/.cxx/Debug/4t583t4o/x86_64/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/4t583t4o/x86_64/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/4t583t4o/x86_64/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/4t583t4o/x86_64/.cmake/api/v1/reply/cache-v2-0bb4c78ebc62baf2b716.json
android/app/.cxx/Debug/4t583t4o/x86_64/.cmake/api/v1/reply/cmakeFiles-v1-5d214aedf34dcb27f767.json
android/app/.cxx/Debug/4t583t4o/x86_64/.cmake/api/v1/reply/codemodel-v2-7936204113d4608ac7e4.json
android/app/.cxx/Debug/4t583t4o/x86_64/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
android/app/.cxx/Debug/4t583t4o/x86_64/.cmake/api/v1/reply/index-2025-02-23T08-26-39-0753.json
android/app/.cxx/Debug/4t583t4o/x86_64/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/4t583t4o/x86_64/CMakeFiles/rules.ninja
android/app/.cxx/Debug/4t583t4o/x86_64/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/4t583t4o/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCCompiler.cmake
android/app/.cxx/Debug/4t583t4o/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/4t583t4o/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/4t583t4o/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/4t583t4o/x86_64/CMakeFiles/3.22.1-g37088a8/CMakeSystem.cmake
android/app/.cxx/Debug/4t583t4o/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/4t583t4o/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/4t583t4o/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/4t583t4o/x86_64/CMakeFiles/3.22.1-g37088a8/CompilerIdCXX/CMakeCXXCompilerId.o
